test.py
/src/path_converter/__pycache__
/src/path_converter.egg-info

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Distribución / empaquetado
build/
dist/
*.egg-info/
.eggs/

# Virtual environments
venv/
env/
ENV/

# IDEs
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
